.board-list {
    margin: 200px 50px;
    width: 300px;
    float: left;
    padding: 5px;
    font-weight: bold;
    position: fixed;
        .board-list-itmes {
            .board-list-item {
                margin-bottom: 20px;
                &:last-child {
                    margin: 0;
                }
                a {
                    padding: 8px 12px 7px;
                    font-size: 14px;
                    color: #9b9b9b;
                    border-radius: 5px;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        background-color: none;//f8f9fa
                        color: #777777;
                    }
                }
                &.selected a {
                    color: #161616;
                    background: #ffffff;
                }
            }
        }
}