<!DOCTYPE html>
<head>
    <title>Check</title>
    <style>
        body {
            padding: 15px;
        }
        pre {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h2 id="this-page-is-for-supervising">This page is for Supervising</h2>
    <hr>
        <p>In here, you can <strong>check status</strong> of API &amp; DB.</p>
        <p>If there has any problem, Error message will be print out.</p>
        <p>Click the buttons, and check the message.</p>
    <p><br></br></p>
    <h3 id="db">DB</h3>
    <p>
        <button>Check</button>
        <pre>
            <code class="lang-bash"></code>
        </pre>
    </p>
    <h3 id="api">API</h3>
    <ul>
        <li>11st</li>
    </ul>
    <pre>
        <code class="lang-bash" style="background-color: lightgray;"></code>
    </pre>
    <ul>
        <li>joongna</li>
    </ul>
    <pre>
        <code class="lang-bash" style="background-color: lightgray;"></code>
    </pre>
</body>